/* ----------|--google fonts  start--|-----------*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Noto+Serif&display=swap');
/* ----------|--google fonts  end--|-----------*/

/* ----------|--common css start--|-----------*/
* {
    margin: 0px;
    padding: 0px;
    outline: 0px;
}

body {
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    user-select: none;
    font-weight: 700;
}

.container {
    max-width: 1200px;
    margin: 0px auto;
    background-color: #d1d1d1;
    border-radius: 5px;
    padding: 20px;
}

input[type=number] {
    appearance: hidden;
}

/* ----------|--common css end--|-----------*/

/* ----------|--main part css start--|-----------*/
#view_port {
    padding: 10px 0px;
}

.treasure_main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 0px;
    border-radius: 5px;
}

.treasure_left img {
    border-radius: 5px;
    width: 100%;
    object-fit: cover;
}

.treasure_right h3 {
    text-align: center;
    font-weight: 700;
    padding: 5px 0px;
}

.treasure_right label {
    font-family: inherit;
}

.treasure_right input {
    margin: 5px 10px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    width: 45%;
    font-size: 18px;
    font-family: inherit;
}

.treasure_right button {
    padding: 8px 18px;
    background-color: #139487;
    border: none;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-family: inherit;
}

.calculate_btn {
    text-align: center;
    margin: 10px 0px;
}

.index_input {
    display: flex;
    justify-content: center;
    align-items: center;
}

#msg,
#income-msg,
#food-msg,
#rent-msg,
#clothes-msg {
    display: none;
    margin-bottom: 5px;
    text-align: center;
    margin-top: 20px;
    color: #ff0037ed;
    font-family: inherit;
}


/* ----------|--main part css end--|-----------*/